@import 'helpers';

header {
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), transparent);
  height: 450px;
  width: 100%;
  z-index: z("header");
  padding-top: 20px;
}

.header__logo {
  width: 210px;
  height: 80px;
}
