@import 'helpers';

.header {
  position: absolute;
  top: 0;
  padding-top: 2px;
  z-index: z('header');
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .4), $transparent);
    height: 250px;
    width: 100%;
    z-index: z('negative');
  }
}

.header__logo-link {
  position: relative;

  &:hover {
    .header__logo-compass {
      transform: rotate(1080deg);
    }
  }
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 248px;
  height: 80px;
  padding: 25px 0;
}

.header__logo-compass {
  position: absolute;
  top: 32px;
  left: 171px;
  transition: all .5s ease;
}

.header__nav-links {
  float: right;
  margin-top: 25px;
}

.header__hamburger {
  display: none;
}

.header__nav-close {
  display: none;
}

.header__nav-link {
  font-family: $open-sans;
  color: $white;
  background-color: rgba(255, 255, 255, .05);
  text-decoration: none;
  padding: 5px 10px;
  margin-left: 10px;

  &:hover {
    background-color: rgba(255, 255, 255, .10);
  }
}

@media (max-width: 480px) {
  .header__hamburger {
    display: block;
    float: right;
    font-size: 60px;
    font-family: monospace;
    color: $white;
  }

  .header__nav-links {
    position: fixed;
    top: 0;
    right: -300px;
    bottom: 0;
    background-color: $off-black;
    margin-top: 0;
    width: 300px;
    z-index: z('modal') !important;
    transition: right .25s ease-in-out;
  }

  .header__nav-close {
    display: block;
    color: $gray;
    font-size: 30px;
    margin: 10px 20px;
    text-align: right;
  }

  .header__nav-link {
    display: block;
    background-color: inherit;
    color: $gray;
    margin: 5px 20px 5px 20px;
    padding: 10px 0 17px;
    border-bottom: 1px solid $gray;

    &:hover {
      background-color: inherit;
    }

    & + .header__nav-link {
      border-bottom: none;
    }
  }

  .header__menu-open {
    .wrapper-all {
      left: -300px;

      &:before {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .75);
        z-index: z('header') - 1;
      }
    }

    .header__nav-links {
      right: 0;
    }
  }
}
