@import 'helpers';

.zoomimage {
  width: 100%;
  cursor: zoom-in;
}

.zoomimage__modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: z('modal');
  cursor: zoom-out;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
  }
}

.zoomimage__full-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: z('modal');
  margin: 100px;
}
