body {
  font-family: "Lora", serif;
  font-size: 125%;
  font-weight: 400;
}

$scale: 1.333;

p {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0,10,0,.75);
  letter-spacing: .01em;
  margin: 0 0 .75em;
}

h1, h2, h3, h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #009FBF;
  margin: 1.5em 0 .5em;
}

h1 {
  font-size: 1em * $scale*$scale*$scale;
  margin-top: 0;
}

h2 {
  font-size: 1em * $scale*$scale;
}

h3 {
  font-size: 1em * $scale;
}

h4 {
  font-size: 1em;
}
