@import 'helpers';

body {
  font-family: $lora;
  font-size: 125%;
  font-weight: 400;
}

$scale: 1.333;

p {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 10, 0, .75);
  letter-spacing: .01em;
  margin: 0 0 .75em;
  text-align: justify;
}

h1,
h2,
h3,
h4 {
  font-family: $open-sans;
  font-weight: 400;
  line-height: 1.2;
  color: $blue;
  margin: 1.5em 0 .5em;
}

h1 {
  font-size: 1em * $scale*$scale*$scale;
  margin-top: 0;
}

h2 {
  font-size: 1em * $scale*$scale;
}

h3 {
  font-size: 1em * $scale;
}

h4 {
  font-size: 1em;
}

a {
  color: $blue;
}

blockquote {
  margin: 1.5em 0 1.5em -25px;
  padding-left: 20px;
  border-left: 5px solid $blue;
  font-style: italic;
}

// remove text-shadow
::selection {
  text-shadow: none;
  background: $blue;
}

@media (max-width: 480px) {
  body {
    font-size: 100%;
  }

  p {
    text-align: left;
  }
}
