@import 'helpers';

article {
  a {
    text-decoration: none;
    text-shadow: 1px 1px #fff, 1px -1px #fff, -1px 1px #fff, -1px -1px #fff;
    background-size: 2px 2px;
    background-position: center 21px;
    transition: background-position 0.25s ease-in, background-size 0.25s ease-in;

    &:hover {
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, $blue 100%);
      background-repeat: no-repeat;
      background-size: 100% 2px;
      background-position: 0 21px;
    }
  }
}

.publish-date {
  font-size: 90%;
  font-style: italic;
  margin-top: 2em;
}
