<header>
  <div class="page-container">
    <a href="/">
      <picture class="header__logo">
        {{ "<!--[if IE 9]><video style='display: none;'><![endif]-->" | safeHtml }}
        <source srcset="/assets/images/good-and-lost.png, /assets/images/good-and-lost@2x.png 2x">
        {{ "<!--[if IE 9]></video><![endif]-->" | safeHtml }}
        <img class="header__logo-image" srcset="/assets/images/good-and-lost.png, /assets/images/good-and-lost@2x.png 2x" alt="Good and Lost">
      </picture>
    </a>
  </div>
</header>
